body{
   padding: 0;
   margin: 0;
   /*font-family: 'Roboto Mono', monospace;*/
   font-family: 'Roboto Condensed', sans-serif;
}

.nav{
    /*border: 1px solid grey;*/
    width: 100%;
    height: 110px;
    /*background-color: #fcd1c3;*/
    background-color: #addfd9;
 }

h1{
    margin-top: 1px;
    font-size: 40px;
}

.info{
    padding: 10px;
    display: inline;
    width: 100%;
    font-size: 20px;
    color: rgb(63, 56, 56);
    align-items: center;
    border: 1px solid #addfd9;
    border-radius: 12px;
    text-align: center;
}

.imgHeader{
    display:flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 400px;
    }

span{
    font-size: 30px;
    text-align: left;
    align-items: center;
    bottom: 30px;
    position: relative;
    margin-left: 30px;
}

span a{
    text-decoration: none;
    font-size: 48px;
    margin-left: -20px;
    color:#097379;
}

.flecha{
    width: 20px;
    height: 20px;
    align-items: baseline;
}
.imgLogo{
    padding: 10px;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 45%;
    background-size: 100% auto;
}
/*- MENU --------------------------------------------------------------------------------------*/
.menu{
    margin-top: 40px;
    float: right;
    font-size: 25px;
    margin-right: 150px;
}

.menu_bar{
    display: none;
}

.menu li{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: #097379;
    padding: 10px;
}

.menu a:hover{
 background-color:#dd987b;
 border-radius: 10px;
 color: white;
 
}

/*---SUBMENU ------*/

.menu li ul {
    display: none;
}

.menu li:hover ul{
    margin-top: 11px;
    display:block;
    float: left;
    position: absolute;
    background-color: #addfd9;
  
}

.menu li ul > li{
    display:block;
    background-color: #addfd9;
    margin: 30px;
    margin-left: -20px;
    border-bottom: 1px solid #ad79cf;
}

.menu li ul > li a:hover{
background-color:#dd987b;
 border-radius: 20px;
 color: white;
}
/*----SUBMENU SUBMENU ----*/

.menu li ul li ul li {
    display: none;
}

.menu li ul li:hover ul {
    margin-left: 80px;
    margin-top: -45px;
    border: 1px solid #097379 ;
    border-radius: 18px;
}


.menu li ul li:hover ul li {
    display:block;
    border-bottom: 1px solid #ad79cf;
    font-size: 20px;
}



/********************************************************/
.container{
    margin-top: -60px;
    width: 100%;
    display:inline-block;
}

.row{
    display: flex;
    padding: 20px;
    height: 250px;
    width: 95%;
    margin: 10px;
   /* border: 1px solid rgb(219, 216, 216);*/
   /*  border-radius: 10px;*/
   border-bottom: 1px solid rgb(184, 179, 179);
 }


.descripcionProducto{
    margin-top: 0px;
    margin-left: 20px;
    display: inline;
    width: 100%;
    font-size: 25px;
}

.categoria,.EAN, .descripcion ,.precio{
 padding: 5px;
}

.precio{
    font-size: 30px;
}


.row img{
   border: 1px solid rgb(199, 194, 194);
    border-radius: 10px;
    padding: 2px;
}

.row img:hover{
    transform: scale(1.001);
    transition: 0.3s;
    box-shadow: 12px 12px 17px -3px rgba(196, 191, 191, 0.75);
}

.header{
height: 250px;

}

.footer {
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 80px;
    color:#00adb5;
    border-top: 1px solid grey;
    text-align: center;
    align-items: center;
    z-index: 9999;

  }

/************************************************************/
.btn-contacto{
    display:block;
    position: fixed;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}     
.btn-whatsapp {
    width:60px;
    height:60px;
    right:18px;
    bottom:160px;
    }
.btn-correo {
    width:60px;
    height:60px;
    right:12px;
    bottom:82px;
    }    
.btn-facebook {
    width:40px;
    height:40px;
    right:32px;
    bottom:28px;
  }

  .btn-whatsapp:hover,.btn-facebook:hover, .btn-correo:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 12px 12px 17px -3px rgba(105, 100, 100, 0.75);  
  }
/****************************************************************/   
/****************************************************************/
/* me acomoda las imagenes de la pagina*/
@supports(object-fit: cover){
    
.imgHeader{
height: 50%;
width: 50%;
margin: auto;
}

.row img{
height: 240px;
width: 240px;
object-fit: cover;
}


}     
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
     

@media screen and (max-width:800px)
{

.menu{
    margin: 10px;
    width: 75%;
    float: left;
    text-align: center;
}
.menu  li {
    padding: 10px;
    display: block;
    font-size: 28px;
    border-bottom: 1px solid #097379;
    margin: auto;
    
}

/*---SUBMENU ------*/

.menu li:hover > ul{
    width: 70%;
    display:block;
    background-color: #addfd9;
    border: 1px solid #097379;
    border-radius: 14px;
    font-size: 20px;
}

.menu li ul li{
    display:block;
    background-color: #addfd9;
    border-bottom: 1px solid #097379;
    font-size: 20px;
    
}


.menu li ul > li a:hover{
 background-color:#dd987b;
 border-radius: 20px;
 color: white;
 font-size: 20px;

}

/*----SUBMENU SUBMENU ----*/


.menu li ul li:hover ul {
    margin-top: 10px;
    border-radius: 12px;
    width: 30%;
    
}


.menu li ul li:hover ul li {
    display:block;
    margin-top: 20px;
    border-bottom: 1px solid #097379;
    font-size: 20px;
    
}



/*--------------------------este es el boton---*/
.menu_bar{
    display: block;
    width: 100%;
    background-color: #097379;
    
}


.menu_bar .bt-menu{
    margin: -2px;
    display: block;
    padding: 20px;
    background-color: #097379;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
}

/*.menu{
    display: block;
    height: 60px;
    margin: auto;
    float:right;
    padding: 15px;
    text-align: center;
    width: 97%;
    border: 1px solid #00adb5;
    
}

.menu li a{
    margin: auto;
    font-size: 25px;
    padding: 5px;
    justify-content:center;
    
}

/*--- menu desplegable------------------------------------------*/
/*
.menu li:hover ul{
    display:block;
    float: left;
    position: absolute;
    background-color: white;
    top: 180px;
  
}

.menu li ul > li{
    display:block;
    background-color: white;
    margin: 30px;
    margin-left: -20px;
    border-bottom: 1px solid #addfd9;
    
}
 
*/
.imgHeader{
display: none;
}
    
/*.imgHeader{
margin-top: 5px;
margin-left: 1px;
height: 100%;
width: 90%;
}*/

.footer {
    
display:none;   /*flex;*/
/*justify-content: center;
position: absolute;
bottom: 0;
width: 100%;
height: 20px;
color:#00adb5;
border-top: 1px solid grey;
text-align: center;
align-items: center;
z-index: 9999;
*/

}
     
        
        


/*---- MUESTRO LOS PRODUCTOS -----*/     
.row{
    margin: 10px 0px 0px 10px;
    width: 83%;
    height: 150px;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 8px;
    
}

.row img{
    height: 150px;
    width: 150px;
    }

.descripcionProducto{
    
    margin-left: 20px;
    display: inline;
    width: 100%;
    font-size: 15px;
}
    
.precio{
    font-size: 25px;
    width: 20px;
}


/*-------- CONTACTO----------*/
.btn-contacto{
    display:block;
    position: fixed;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}     
.btn-whatsapp {
    width:60px;
    height:60px;
    right:18px;
    bottom:160px;
    }
.btn-correo {
    width:60px;
    height:60px;
    right:12px;
    bottom:82px;
    }    
.btn-facebook {
    width:40px;
    height:40px;
    right:32px;
    bottom:28px;
  }

  .btn-whatsapp:hover,.btn-facebook:hover, .btn-correo:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 12px 12px 17px -3px rgba(150, 145, 145, 0.75);  
  }


} /*cierre media 800*/
